html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .5rem;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.margin-0 {
  margin: 0;
}

.margin-auto {
  margin: auto;
}

.track-name {
  margin: 1rem;
  color: inherit;
  text-decoration: underline
}

.header {
  text-align: center;
  margin: 1rem;
}

.race-track {
  position: relative;
  margin: auto;

  canvas {
    position:absolute;
  }

  button {
    display: block;
  }
}

.race-lane-progress {
  fill: transparent;
}

.race-again {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.white-text {
  color: white;
}

.results-board {
  th, td {
    width: 25%;
    text-align: center;
  }
}

.race, .schedule {
  .schedule-board, .results-board {
    margin-top: 30px;

    th, td {
      width: 25%;
      text-align: center;
    }
  }
}

.standings {
  .standings-board {
    margin-top: 30px;

    th, td {
      width: 14%;
      text-align: center;
    }
  }
}

.racer {
  racer-board {
    margin-top: 30px;

    th, td {
      width: 14%;
      text-align: center;
    }
  }
}

.track {
  .track-board {
    margin-top: 30px;
    th, td {
      width: 33%;
      text-align: center;
    }
  }
}

.race-key {
  .race-key-board {
    margin-top: 30px;
    th, td {
      width: 33%;
      text-align: center;
    }
  }
}

.race-key {
  display: block;
  margin: 5px auto;
  width: 350px;
}

.racer-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left, .right {
    flex: 1;
    padding: 0 2.5px;
  }

  .color {
    width: 15px;
    height: 15px;
  }

  .name {
    //width: 70%;
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    text-align: center;
    flex: 1 1 0px;
    padding: 0 2.5px;
  }
}

.racer-default-img {
  font-size: 10rem;
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;

  width: 200px;
  height: 200px;
  margin: auto;
  background-size: cover;
  border-radius: 25%;
  margin-bottom: 15px;
}

.modal {
  h4 {
    color: white;
  }

  &.bottom-sheet {
    max-height: 75%;
  }

  .modal-footer {
    background-color: inherit;

    button {
      color: white;
    }
  }
}

.strike-name {
  text-decoration: line-through;
}

.timer {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  color: white;
  background-color: #191919;
  text-align: center;
  width: 300px;

  a {
    color: white;
  }
}

.racer-progress {
  background-color: inherit;

  .progress {
    background-color: white;

    .determinate {
      background-color: black;
    }
  }
}

nav {
  ul a:hover {
    background-color: white;
    color: #191919;
  }

  .nav-wrapper {
    background-color: #191919;

    .brand-logo {
      padding: 0 15px;
    } 
  }
}

table {
  th {
    font-size: 18px;
  }
}

.schedule-link {
  color: inherit;
  text-decoration: underline;
}