body {
  height: 100%;
  margin: 0;
}

.header {
  text-align: center;
}

.race-track {
  display: block;
  margin: auto;
}

.race-track > button {
  display: block;
}

.race-track > .ground {

}

.race-lane-progress {
  fill: transparent;
}

.race-again {
  display: block;
  margin: auto
}

.white-text {
  color: white;
}

.race-key {
  display: block;
  margin: 30px auto;
  /*margin-top: 15px;*/

  width: 300px;
}

.racer-color {
  width: 15px;
  height: 15px;
  margin-top: .3rem;
}

[class^="racer-img-"].racer-default-img {
  font-size: 300px;
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  color: white;
}

[class^="racer-img-"] {
  width: 400px;
  height: 400px;
  margin: auto;
  background-size: cover;
  border-radius: 25%;
  margin-bottom: 15px;
}

.racer-img-1 {
  background-image: url(./images/1.jpg);
}

.racer-img-2 {
  background-image: url(./images/2.jpg);
}

.racer-img-3 {
  background-image: url(./images/3.jpg);
  height: 300px;
}

.racer-img-4 {
  background-image: url(./images/4.jpg);
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    [class^="racer-img-"] {
      width: 300px;
      height: 300px;
    }

    .racer-img-3 {
      width: 200px;
      height: 200px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    [class^="racer-img-"] {
      width: 200px;
      height: 200px;
    }

    .racer-img-3 {
      width: 100px;
      height: 100px;
    }
}