html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .5rem;
}

.margin-0 {
  margin: 0;
}

.track-name {
  margin: 1rem;
}

.header {
  text-align: center;
}

.race-track {
  display: block;
  margin: auto;
}

.race-track > button {
  display: block;
}

.race-track > .ground {

}

.race-lane-progress {
  fill: transparent;
}

.race-again {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.white-text {
  color: white;
}

.race-key {
  display: block;
  margin: 5px auto;
  width: 300px;
}

.racer-color {
  width: 15px;
  height: 15px;
  margin-top: .3rem;
}

.racer-default-img {
  font-size: 10rem;
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;

  width: 200px;
  height: 200px;
  margin: auto;
  background-size: cover;
  border-radius: 25%;
  margin-bottom: 15px;
}

.modal.bottom-sheet {
  max-height: 75%;
}

.strike-name {
  text-decoration: line-through;
}